#name: Main Branch DBT State
#
#on:
#  push:
#    branches:
#      - main
#
#  workflow_dispatch:
#
#jobs:
#  run:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v4
#    - uses: actions/setup-python@v5
#      with:
#        python-version: '3.10'
#
#    - name: Setup dbt
#      run: |
#        pip install -r requirements.txt
#        dbt deps
#
#    - name: Compile
#      run: dbt compile --profiles-dir=/globe_itw/
#      env:
#        DBT_SNOWFLAKE_ACCOUNT: ${{ secrets.DBT_SNOWFLAKE_ACCOUNT }}
#        DBT_SNOWFLAKE_PW: ${{ secrets.DBT_SNOWFLAKE_PW }}
#        DBT_USER_GLOBE: ${{ secrets.DBT_USER_GLOBE }}
#        DBT_ACCOUNT_GLOBE: ${{ secrets.DBT_ACCOUNT_GLOBE }}
#        DBT_PASSWORD_GLOBE: ${{ secrets.DBT_PASSWORD_GLOBE }}
#
#    - name: Upload manifest.json to GH Artifacts
#      uses: actions/upload-artifact@v3
#      with:
#        name: dbt_manifest_json
#        path: target/manifest.json
#        if-no-files-found: error