#name: Triggered dbt dev and prod run
#
#on:
#  push:
#    branches:
#      - main
#
#  workflow_dispatch:
#
#env:
#  DBT_PROFILES_DIR: ./
#  DBT_SNOWFLAKE_ACCOUNT: ${{ secrets.DBT_SNOWFLAKE_ACCOUNT }}
#  DBT_SNOWFLAKE_PW: ${{ secrets.DBT_SNOWFLAKE_PW }}
#  DBT_USER_GLOBE: ${{ secrets.DBT_USER_GLOBE }}
#  DBT_ACCOUNT_GLOBE: ${{ secrets.DBT_ACCOUNT_GLOBE }}
#  DBT_PASSWORD_GLOBE: ${{ secrets.DBT_PASSWORD_GLOBE }}
#
#jobs:
#  dbt_run_dev:
#    name: dbt dev build
#    runs-on: ubuntu-latest
#    timeout-minutes: 90
#
#    steps:
#      - name: Check out
#        uses: actions/checkout@v4
#
#      - name: Setup python
#        uses: actions/setup-python@v5
#        with:
#          python-version: "3.9.x"
#
#      - name: Install dependencies
#        run: |
#          pip install dbt-snowflake
#
#      - name: Run dbt models
#        run: dbt build
#
#      - name: Upload dbt run artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: dbt-run-results
#          path: ./target
#
#  dbt_run_prod:
#    name: dbt prod build
#    needs: dbt_run_dev
#    runs-on: ubuntu-latest
#    if: success()
#
#    steps:
#      - name: Check out
#        uses: actions/checkout@v4
#
#      - name: Setup python
#        uses: actions/setup-python@v5
#        with:
#          python-version: "3.9.x"
#
#      - name: Install dependencies
#        run: |
#          pip install dbt-snowflake
#
#      - name: Download dbt run artifacts
#        uses: actions/download-artifact@v4
#        with:
#          name: dbt-run-results
#          path: ./target
#
#      - name: Run dbt models for prod
#        run: dbt build --target prod
